{% extends "AndersoftUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<section class="andersoft-form andersoft-form-login">
		<p>{{ 'resetting.password_already_requested'|trans }}</p>
		<img width="100%" src="/images/logo_gray.png" />
	</section>
{% endblock fos_user_content %}

