<div class="choose-container">
<h2 class="page-heading">comments (15)</h2>

<div class="comment-wrapper">
    <form id="comment-form" class="comment-form" method='post'>
        <textarea class="comment-form__text" placeholder='Add you comment here'></textarea>
        <label class="comment-form__info">250 characters left</label>
        <button type='submit' class="btn btn-md btn--danger comment-form__btn">add comment</button>
    </form>

    <div class="comment-sets">

        <div class="comment">
            <div class="comment__images">
                <img alt='' src="../../web/images/comment/avatar.jpg">
            </div>
    
            <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>Roberta Inetti</a>
            <p class="comment__date">today | 03:04</p>
            <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
            <a href='#' class="comment__reply">Reply</a>
        </div>
    
        <div class="comment">
            <div class="comment__images">
                <img alt='' src="../../web/images/comment/avatar-olia.jpg">
            </div>
    
            <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span>Olia Gozha</a>
            <p class="comment__date">22.10.2013 | 14:40</p>
            <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
            <a href='#' class="comment__reply">Reply</a>
        </div>
    
        <div class="comment comment--answer">
            <div class="comment__images">
                <img alt='' src="../../web/images/comment/avatar-dmitriy.jpg">
            </div>
    
            <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span>Dmitriy Pustovalov</a>
            <p class="comment__date">today | 10:19</p>
            <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
            <a href='#' class="comment__reply">Reply</a>
        </div>
    
        <div class="comment comment--last">
            <div class="comment__images">
                <img alt='' src="../../web/images/comment/avatar-sia.jpg">
            </div>
    
            <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>Sia Andrews</a>
            <p class="comment__date"> 22.10.2013 | 12:31 </p>
            <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
            <a href='#' class="comment__reply">Reply</a>
        </div>
    
        <div id='hide-comments' class="hide-comments">
            <div class="comment">
                <div class="comment__images">
                    <img alt='' src="../../web/images/comment/avatar.jpg">
                </div>
    
                <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>Roberta Inetti</a>
                <p class="comment__date">today | 03:04</p>
                <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                <a href='#' class="comment__reply">Reply</a>
            </div>
    
            <div class="comment">
                <div class="comment__images">
                    <img alt='' src="../../web/images/comment/avatar-olia.jpg">
                </div>
    
                <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span>Olia Gozha</a>
                <p class="comment__date">22.10.2013 | 14:40</p>
                <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                <a href='#' class="comment__reply">Reply</a>
            </div>
        </div>
    
        <div class="comment-more">
            <a href="#" class="watchlist">Show more comments</a>
        </div>

	</div>
</div>
</div>