<div class="category category--discuss category--count marginb-sm mobile-category ls-cat">
    <h3 class="category__title">the Most <br><span class="title-edition">discussed posts</span></h3>
    <ol>
        <li><a href="#" class="category__item">Gravity</a></li>
        <li><a href="#" class="category__item">The Counselor</a></li>
        <li><a href="#" class="category__item">Bad Grandpa</a></li>
        <li><a href="#" class="category__item">Blue Is the Warmest Color</a></li>
        <li><a href="#" class="category__item">Rush</a></li>
        <li><a href="#" class="category__item">Captain Phillips</a></li>
        <li><a href="#" class="category__item">Escape Plan</a></li>
        <li><a href="#" class="category__item">Cloudy with a Chance of Meatballs 2</a></li>
        <li><a href="#" class="category__item">Prisoners</a></li>
        <li><a href="#" class="category__item">The Fifth Estate</a></li>
    </ol>
</div>