{% if rate is defined %}
	<div id="your-vote" class="score" data-yourrate="{{ rate }}" data-id="{{ filmId }}"></div>
{% else %}
	<div id="your-vote" class="score" data-yourrate="{{ 0 }}" data-id="{{ filmId }}"></div>
{% endif %}